[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
nltk = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
